---
import BannerServicios from '../components/BannerServicios.astro';
import Hero from '../components/Hero.astro';
import Nosotros from '../components/Nosotros.astro';
import NuestraClinica from '../components/NuestraClinica.astro';
import Servicios from '../components/Servicios.astro';
import Testimonios from '../components/Testimonios.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="">
	<main>
		<!-- <Hero /> -->
		<!-- <BannerServicios /> -->
		<!-- <Servicios /> -->
		<!-- <Testimonios /> -->
		<!-- <Nosotros /> -->
		<NuestraClinica />
	</main>
</Layout>

<style>
</style>
