---
import BannerServicios from '../components/BannerServicios.astro';
import Contacto from '../components/Contacto.astro';
import Hero from '../components/Hero.astro';
import Nosotros from '../components/Nosotros.astro';
import NuestraClinica from '../components/NuestraClinica.astro';
import PreguntasFrecuentes from '../components/PreguntasFrecuentes.astro';
import Servicios from '../components/Servicios.astro';
import Testimonios from '../components/Testimonios.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="">
	<main>
		<Hero />
		<BannerServicios />
		<Servicios />
		<Testimonios />
		<Nosotros />
		<NuestraClinica />
		<PreguntasFrecuentes />
		<Contacto />
	</main>
</Layout>

<script>
	const links = document.querySelectorAll('a');
	links.forEach(e=>{
		e.addEventListener('click', e => {
			e.preventDefault();
		})
	})
</script>
