---
function DatoContacto(titulo, dato1, dato2) {
  this.titulo = titulo;
  this.dato1 = dato1;
  this.dato2 = dato2;
}

const direccion = new DatoContacto('Dirección', 'Av. Color 1560', 'Cordoba, Cordoba Capital')
const email = new DatoContacto('Email', 'info@tudentista.com.ar', 'info@tudentista.com.ar')
const telefono = new DatoContacto('Telefono', '351 7608XXX', '3541 7825XXX')

// const itemsBanner = ["Dirección", "Email", "Telefonos"];
const itemsBanner = [direccion, email, telefono];

import email_icon from "../../public/img/email_icon.svg";
import mapa_icon from "../../public/img/mapa_icon.svg";
import telefono_icon from "../../public/img/telefono_icon.svg";

const iconos = [email_icon, mapa_icon, telefono_icon];
---

<div class="bg-light-celeste">
  <div class="container py-16">
    <ul class="flex flex-wrap md:flex-row flex-col gap-10 md:items-start md:w-auto w-fit mx-auto justify-between">
      {
        itemsBanner.map((item) => (
          <li class="flex items-start w-fit gap-5">
            <img
              class="h-10 lg:w-auto w-14"
              src={iconos[itemsBanner.indexOf(item)]}
              alt="A rocketship in space."
            />
            <div class="flex flex-col gap-2">
              <h3 class="lg:text-2xl md:text-xl sm:text-lg text-lg font-semibold text-dark-blue">{item.titulo}</h3>  
              <p class="lg:text-lg text-base font-normal text-grey">{item.dato1}</p>
              <p class="lg:text-lg text-base font-normal text-grey">{item.dato2}</p>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</div>
