---
import foto from "/img/sobre_mi.avif";
---

<div class="container py-28 min-h-screen flex items-center">
  <div class="flex lg:flex-row flex-col items-center lg:gap-10 sm:gap-7 gap-0">
    <div
      class="relative z-40 lg:w-6/12 w-full flex items-center justify-center"
    >
      <img src={foto} alt="" class="sm:w-auto w-full rounded-2xl" />
    </div>
    <article
      class="descripcion_sobre_mi relative z-30 lg:w-6/12 w-full flex flex-col lg:gap-4 sm:gap-6 gap-4 items-start lg:py-0 py-10"
    >
      <div class="absolute top-1/2 -translate-y-1/2 -z-10 w-full h-full overflow-hidden object-fit">
        <svg
          class="lg:w-full lg:h-auto sm:w-auto sm:h-full w-full h-max opacity-60 sm:mt-0 mt-20"
          width="1191"
          height="1314"
          viewBox="0 0 1191 1314"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M755.85 26.4833C662.423 66.5106 527.583 66.5104 434.156 26.483C358.247 -6.03876 273.34 -9.05464 194.995 25.0238C29.6621 96.9396 -44.4926 307.101 27.4667 496.684C27.4826 496.726 27.4819 496.773 27.4645 496.815L49.9204 545.644C125.829 710.702 183.046 883.73 220.506 1061.5L256.14 1230.61C268.472 1279.23 312.05 1313.25 361.985 1313.25C415.617 1313.25 461.314 1274.13 469.828 1220.93L520.065 907.055C525.981 870.087 557.736 842.904 595.005 842.904C632.274 842.904 664.029 870.088 669.945 907.055L720.181 1220.93C728.695 1274.13 774.392 1313.25 828.023 1313.25C877.959 1313.25 921.536 1279.23 933.868 1230.61L969.502 1061.5C1006.96 883.73 1064.18 710.702 1140.09 545.643L1162.54 496.815C1162.53 496.773 1162.53 496.726 1162.54 496.684C1234.5 307.101 1160.35 96.9396 995.014 25.0238C916.669 -9.05499 831.76 -6.03893 755.85 26.4833Z"
            fill="url(#paint0_linear_12_200)"></path>
          <defs>
            <linearGradient
              id="paint0_linear_12_200"
              x1="157.504"
              y1="0.749998"
              x2="875.004"
              y2="1260.75"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#BBCDCD"></stop>
              <stop offset="1" stop-color="#CCC"></stop>
            </linearGradient>
          </defs>
        </svg>
      </div>
      <small class="sm:text-base text-sm text-dark-blue">Sobre Mi</small>
      <h2
        class="xl:text-7xl lg:text-5xl md:text-4xl sm:text-3xl text-2xl font-extrabold text-accent-dark mt-2"
      >
        Dra. Patricia Nieves Kiriaco
      </h2>
      <div
        class="w-full grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 sm:gap-20 gap-10"
      >
      </div>
      <ul class="flex flex-col gap-4 text-grey">
        <li class="relative adorno_sobre_mi ml-4 z-20 before:bg-accent">
          <p class="">
            Médica Cirujano, graduada en la Universidad Nacional de Córdoba, Argentina.
          </p>
        </li>
        <li class="relative adorno_sobre_mi ml-4 z-20 before:bg-accent">
          <p class="">
            Odontóloga, graduada en la Universidad de París, Francia.
          </p>
        </li>
        <li class="relative adorno_sobre_mi ml-4 z-20 before:bg-accent">
          <p class="">
            Docente de la Universidad Nacional de Córdoba desde el año 1975.
          </p>
        </li>
        <li class="relative adorno_sobre_mi ml-4 z-20 before:bg-accent">
          <p class="">
            Miembro de las siguientes Academias:
          </p>
        </li>
        <ul class="ml-10 list-disc">
          <li>A.L.A.O: Academia Latinoamericana de Oseointegración.</li>
          <li>
            A.I.I.O: Academia Internacional de Implantes y Oseointegración .
            Miembro Fundador
          </li>
          <li>
            A.V.O.I.O: Academia Venezolana de Oseointegración e Implantologìa
            Oral. Miembro Honorario.
          </li>
          <li>
            Pierre Fauchard Academy: Academia de Honor de Odontologìa de
            E.E.U.U.
          </li>
          <li>
            A.I.I.P: Academia Internacional de Implantología y Periodoncia
            Barcelona. Presidente Internacional.
          </li>
        </ul>
      </ul>
    </article>
  </div>
</div>

<style>
  .adorno_sobre_mi::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 8px;
    left: -7%;
    top: 0%;
    translate: 0% 100%;
    clip-path: polygon(75% 0%, 100% 51%, 75% 100%, 0% 100%, 39% 51%, 0% 0%);
  }
</style>
